@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.dropdown {
    position : relative;
    padding: 0px 0px 0px 0px;
    margin-right: 5px;
    font-family: "Nanum Gothic";
    font-size: 15pt;
}

.dropdown dl {
    position : static;
}

a {
    color: #fff;
}

.dropdown dd,
.dropdown dt {
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.dropdown ul {
    margin: -1px 0 0 0;
}

.dropdown dd {
    position: relative;
    z-index: 2;
}

.dropdown a,
.dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 15px;
}

.dropdown dt a {
    background-color: #4F6877;
    display: block;
    padding: 0px 20px 0px 10px;
    min-height: 20px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 150px;
}

.dropdown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown dd ul {
    background-color: #4F6877;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    top: 2px;
    width: 180px;
    list-style: none;
    overflow: auto;
}

.dropdown span.value {
    display: none;
}
.dropdown dd div ul li {
    font-size: 10pt;
    padding: 8px;
    display: block;
}

.dropdown dd div ul li input[type=checkbox] {
    float: right;
    align-items: baseline;
    padding: 0px;
    display: block;
    background-color: white;
}

.dropdown dd ul li a:hover {
    background-color: #fff;
}

button {
    position: static;
    background-color: #6BBE92;
    width: 180px;
    height: 40px;
    border: 0;
    padding: 0px 0;
    margin: 0px 0;
    text-align: center;
    color: #fff;
    font-size: 13pt;
}